<h1>All Details</h1>

<% allDetail.forEach((all)=> { %>
    <form action="/allDetails/<%all.cty_code%>" method="GET">
    <label>City Code:</label>
    <input type="text" name="cty_code" value="<%=all.cty_code%>"> <br><br>
    <label>City Name:</label>
    <input type="text" name="cty_name" value="<%=all.cty_name%>"> <br><br>
    <label>City Population:</label>
    <input type="number" name="population" value="<%=all.population%>"> <br><br>
    <label>By The Sea:</label>
    <input type="text" name="isCoastal" value="<%=all.isCoastal%>"> <br><br>
    <label>Area (KM):</label>
    <input type="number" name="areaKM" value="<%=all.areaKM%>"> <br><br>
    <label>Country Code:</label>
    <input type="text" name="co_code" value="<%=all.co_code%>"> <br><br>
    <label>Country Name:</label>
    <input type="text" name="co_name" value="<%=all.co_name%>"> <br><br>
    </form>
    <% }) %>