<!--CSS Style for borders-->
<style>
    table, th, td{
        border: 1px solid black;
    }
    </style>
    
    <!--Display the data retrieved from database use a forEach to get data-->
    <h1>Cities</h1>

    <br><br>
    <table>
        <tr>
            <th>City Code</th>
            <th>Country Code</th>
            <th>City Name</th>
            <th>Population</th>
            <th>By The Sea</th>
            <th>Area</th>
            <th></th>
        </tr>
    <% cities.forEach((city) => { %>
        <tr>
            <td><%= city.cty_code %></td>
            <td><%= city.co_code %></td>
            <td><%= city.cty_name %></td>
            <td><%= city.population %></td>
            <td><%= city.isCoastal %></td>
            <td><%= city.areaKM %></td>
            <td><a href="/allDetails">All Details</a></td>

        </tr>
        <%}) %>
    </table>
    <br><br>
    <a href="/">Home</a>